.header {
    background: linear-gradient(to right, rgb(122, 156, 167), rgb(130, 219, 248), rgb(236, 243, 245));
    height: 100px;
    border-bottom: 2px solid #000;
}

.header h1 {
    width: fit-content;
    line-height: 100px;
    text-transform: uppercase;
    font-size: 7vw;
    margin: auto;
    color: rgb(147, 39, 151);
    margin-bottom: 20px;
}

.time-section {
    padding: 20px 20px !important;
    height: auto;
    background-color: rgb(224, 224, 224);
}

#input_section {
    line-height: auto;
}

#date h5,
#time h5 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#date,
#time {
    border-right: 2px dotted black;
}

.DataSection {
    border: 1px solid black;
     height: auto;
    background: linear-gradient(to right, rgb(129, 202, 248), rgb(57, 159, 253), rgb(207, 240, 253));
}
.dataPanel{
    min-width: 280px;
    max-width: 90%;
    /* border: 1px solid black; */
    height: auto;
    /* margin: 50px auto ; */
    background-color: white;
    box-shadow: 0px 0px 8px black;
}
.dataField{
    width: 90%;
    border: 4px solid rgb(199, 199, 199);
    height: auto;
    margin: 20px auto;
    border-left: 4px solid green;
    border-radius: 0px 10px 10px 0px;
}
.panelDate, .panelDay{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2vw;
}
.panelTitle{
    border-left: 1px solid #000;
    border-right: 1px solid #000;

    padding-top: 10px;
    font-size: 3vw;
}
.button button{
    font-size: 2vw;
    width: 90%;
    margin: 3px;
}
#delete, #edit, #done{
    text-transform: uppercase;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: red;
    border: none;
    border-radius: 5px;
    color: white;
}
#edit{
    background-color: rgb(116, 250, 134);
}
#done{
    background-color: blue;
}
#panelDate{
    font-size: 1.3vw;
}

@media screen and (max-width: 767px) {
    #date,
    #time {
        border-right: none;
        border-bottom: 2px dotted black;
    }
    #time {
        padding: 10px 0px;
        margin-bottom: 10px;
    }
}

