.header {
    background: linear-gradient(to right, rgb(122, 156, 167), rgb(130, 219, 248), rgb(236, 243, 245));
    height: 100px;
    border-bottom: 2px solid #000;
}

.header h1 {
    width: fit-content;
    line-height: 100px;
    text-transform: uppercase;
    font-size: 7vw;
    margin: auto;
    color: rgb(147, 39, 151);
    margin-bottom: 20px;
}

.time-section {
    padding: 20px 20px !important;
    height: auto;
    background-color: rgb(224, 224, 224);
}

#input_section {
    line-height: auto;
}

#date h5,
#time h5 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#date,
#time {
    border-right: 2px dotted black;
}

.DataSection {
    border: 1px solid black;
     height: auto;
    background: linear-gradient(to right, rgb(129, 202, 248), rgb(57, 159, 253), rgb(207, 240, 253));
}
.dataPanel{
    min-width: 280px;
    height: auto;
    box-shadow: 0px 0px 8px black;
}
.dataPanelAfterDelete{
    margin: 50px auto !important;
    padding: 10px 0px;

}
.dataField{
    background-color: white;
    /* border: 1px dotted red; */
    height: auto;
    margin: 20px;
    border-left: 12px solid red;
    /* border-radius: 0px 10px 10px 0px; */
}
#dataFieldBorderAfterDone{
    border: 1px dotted green !important;
    border-left: 12px solid green !important;

}
.panelDate{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.6vw;
    padding-top: 2px;
}
.panelTitle{
    width: 100%;
    border-left: 1px solid #000;
    /* border-right: 1px solid #000; */
    padding-top: 5px;
    overflow: auto;
    font-family: 'Times New Roman', Times, serif;
    font-size: 3vw;
}
.button {
    width: 50%;
    padding: 0px !important;
    margin: 0px !important;
    /* font-size: 2vw; */
    margin:  auto;
    /* border: 1px solid black !important; */

    
}
#delete, #edit, #done{
    text-transform: uppercase;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* border: none; */
    /* border: 1px solid black !important; */
    /* margin-left: 5px; */

    /* border-radius: 5px; */
    /* color: white; */
}
.buttonRow{
    margin: auto;
    width: 100%;
    padding-left: 0px  !important;
    border-left: 1px solid black;
    margin: 0px !important;
}
#delete{
    width: 100%;
    /* background-color: red;    */
}
#edit{
    width: 100%;
    /* background-color: rgb(13, 251, 44); */
    /* border: 1px solid black; */
}
#done{
    width: 200% !important;
    /* background-color: blue; */
}
#panelDate{
    font-size: 1.3vw;
}

@media screen and (max-width: 767px) {
    #date,
    #time {
        border-right: none;
        border-bottom: 2px dotted black;
    }
    #time {
        padding: 10px 0px;
        margin-bottom: 10px;
    }
}

.btn{
    border-radius: 0px !important;
}