*{
    padding: 0 ;
    margin: 0;
}
.bg-clr{
    background-color: #316DC3;
}
.box1, .box2, .box3{
    text-align: center;
}

.box3 a{
    display: inline-block;
    border: 1px solid black;
    color: black;
    margin: 2px 5px;
    background-color: #fff;
    font-weight: bold;
    padding: 3px 5px;
    cursor: pointer;
    text-decoration:none;
    
}

.social-acc img{
    margin-left: 5px;
    width: 30px;
    height: 30px;
}


class="btn btn-default  btn-outline-dark btn-flat btn-xs bg-light  font-11"
class="btn btn-default  btn-outline-dark btn-flat btn-xs bg-light  font-11"
class="btn btn-default  btn-outline-dark btn-flat btn-xs bg-light  font-11"
