*{
    padding: 0 ;
    margin: 0;

}
.bg-clr{
    background-color: #316DC3;
}
.box1, .box2, .box3{
    text-align: center;
}
.box3 a{
    display: inline-block;
    border: 1px solid black;
    color: rgb(85, 74, 74);
    margin: 2px 5px;
    background-color: #fff;
    padding: 3px 5px;
    cursor: pointer;
    text-decoration:none;
    
}
.box3 a:hover{
    color: rgb(85, 74, 74); 
    text-decoration: none;
}
.social-acc img{
    margin-left: 5px;
    width: 30px;
    height: 30px;
}


.marquee{
    margin: 10px 100px;
}

.blue{
font-weight: bold;
    color: blue;
}
.green{
    font-weight: bold;
    color: green;
}
.inner{
    font-family: 'Merriweather', serif;
    text-align: justify;
    width: 90%;
    padding: 20px 10px;
}
/* logo css */
.heading{
    font-family: 'Merriweather', serif;
    text-transform: uppercase;
    overflow: hidden; 
    text-align: center  ;
    font-size: 250%;
    padding-bottom: 10px;
}
.logo-after-heading{
    Padding-top: 10px;
    text-align: center;
    margin: auto;
    position: relative;
    margin: 0 auto;
    max-width: 200px;
    position: relative
}
.logo-after-heading img{
    width: 40px;
    height: 40px;

}
.logo-after-heading::before{
    content: "";
    height: 2px;
    position: absolute;
    left:1rem;
    top: 40px;
    width: 50px;
    background: #427900;
}
.logo-after-heading::after{
    content: "";
    height: 2px;
    position: absolute;
    right:1rem;
    top: 40px;
    width: 50px;
    background: #427900;
}
/* logo css */
/* blue and green color */
.bg-clr{
    font-family: 'Merriweather', serif;
    font-weight: bolder;
    color: white;
    background-color: rgba(36, 79, 242, 0.9) !important;
}
.lgreen{
    font-weight: bold;
    color: rgb(0, 255, 0);
}
/* blue and green color */
.counter{
    font-family: 'Merriweather' serif;
}
.paragraph{
    font-size: 20px;
}
.border-box{
    border: 1 px solid black;
    text-align: center;
    padding: 25px;
}
/* introduction sention end */
/* section what are we doing */
.wtd{
    padding-top: 100px;
    font-family: 'Merriweather', serif;
    font-weight: 600;
    color: blue;
}
.wtd h4{
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 30px;
}
/* what are we doing end */
/* mission section  */
.mission{
    font-family: 'Merriweather', serif;
}
.mission h3{
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
    color: #316DC3;
    padding-top: 20px;
    position: relative;
    padding-bottom: 10px;
}
.mission h3::after{
    margin-top: 10px;
    bottom: -1px;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    width: 50px;
    background: #427900;
}
.mission-box{
    box-sizing: border-box;
    background-color: #f7f8fa;
    border-radius: 5px;
    height: 70px;
    width: 100%;
    margin:  10px auto;
    box-shadow: 2px 2px 15px 5px #f7f8fa;

}
.mission-box img{
    width: 40px;
    height: 40px;
    margin: 15px 30px;
    float: left;
}
.mission-box h5{
    padding: 25px 30px;
    font-size: 130%;
    font-weight: 600;
    text-transform: uppercase   ;
    color: #316DC3;
}
/* mission end */
/* image section */
.gallery-img  {
    margin: 50px;
    height: auto;
}
.gallery-img  .image{
    margin:20px 0;
    width: 20%;
    height: auto;
    float: left;
}
.gallery-img  .image img{
width: 100%;
padding: 10px 5px;
}
/* image section end */

/* footer */
.footer{
    background-color:#252424;
    color: blanchedalmond;
}
.footer .fbox1, .fbox2{
    margin: 100px 0;
}
.fbox2 .inner1{
    padding-bottom: 35px;
    float: left;
}
.fbox2 .inner2{
    float: right;
}
.inner1 h5, .inner2 h5{
    text-transform: capitalize;
}
.inner1 h5{
    border-bottom:1px solid gray;
    padding-bottom: 10px;
    position: relative;
}
.inner1 h5::before{    
    content: "";
    height: 2px;
    position: absolute;
    /* left:1rem; */
    top: 32px;
    width: 60px;
    background: #427900;
}
.footer-icon img{
    width: 55px;
    height: 55px;
}
.footer-icon img#yt{
    width: 75px;
    height: 75px;
}
.footer-icon img#ins{
    width: 65px;
    height: 65px;
}
.footer-icon img#tw{
    width: 60px;
    height: 60px;
}
.footer-icon img#fb{
    margin-right: 7px;
}
.fbox1 p img{
    width: 20px;
    height: 20px;
}
.fbox1 p .globe img{
    width: 25px;
    height: 20px;
    margin: 0px 5px 0px 60px;
}
.copyright{
    background-color: rgb(84, 84, 236);
    width: 100%;
    color: white;
    padding: 10px 110px;
    font-size: 90%;
}
/* footer end */


/* sticky navbar */

.dropdown:hover .dropdown-menu{
    display: block
}

#navbar {
    z-index: 10;
    /* overflow: hidden; */
    background-color: rgb(241, 232, 232);
  }
  
  #navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  #navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  #navbar a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  .content {
    padding: 16px;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }

  .navbar-logo img{
      margin-left: 30px;
      width: 180px ;
      height: 50px;

  }
  .navbar-expand-lg .navbar-nav .dropdown-menu {
      top: 30px;
      min-width: 200px !important;
  }
  
  .navbar-expand-lg .navbar-nav .dropdown-menu a{
    border-radius: 0px !important;

}
.navbar-expand-lg .navbar-nav .dropdown-menu a:hover{
    background-color: rgb(189, 184, 184) !important;
    padding-left: 20px !important;
}
  .active a{
      font-weight: bold;
      background: blue !important;
      color: white !important;
      border-radius: 100px !important;
      padding: 4px 10px !important;
      text-transform: capitalize !important; 
      margin-right: 1px !important;
      font-size: 14px !important;
  }
  .navbar-btn a {
      font-size: 14px !important;
      border-radius: 100px !important;
      padding: 4px 10px !important;
      text-transform: capitalize !important;
      color: black !important; 
      margin-right: 1px !important;
  }
  .navbar-btn a:hover{
    background: blue !important; 
    color: white !important; 
  }

  .dropdown-menu{
    background-color: white !important;
  }
  .dropdown-menu a{
      text-transform: capitalize;
      font-size: 14px !important;
      margin: 0 !important;
      padding: 5px 10px !important;
      text-align: left !important;
      color: black !important;
  }
  .dropdown-menu .dropdown-item i{
      float: right;
  } 
  .navbar-nav{
      margin-left: 400px;
    
  }

  


  /* sticky navbar */


