*{
    padding: 0 ;
    margin: 0;

}
html{
    scroll-behavior: smooth;
}
.bg-clr{
    background-color: #316DC3;
}
.box1, .box2, .box3{
    text-align: center;
}
.box3 a{
    display: inline-block;
    border: 1px solid black;
    color: rgb(85, 74, 74);
    margin: 2px 5px;
    background-color: #fff;
    padding: 3px 5px;
    cursor: pointer;
    text-decoration:none;
    
}
.box3 a:hover{
    color: rgb(85, 74, 74); 
    text-decoration: none;
}
.social-acc img{
    margin-left: 5px;
    width: 30px;
    height: 30px;
}


.marquee{
    margin: 10px 100px;
}

.blue{
font-weight: bold;
    color: blue;
}
.green{
    font-weight: bold;
    color: green;
}
.inner{
    font-family: 'Merriweather', serif;
    text-align: justify;
    width: 90%;
    padding: 20px 10px;
}
/* logo css */
.heading{
    font-family: 'Merriweather', serif;
    text-transform: uppercase;
    overflow: hidden; 
    text-align: center  ;
    font-size: 250%;
    padding-bottom: 10px;
}
.logo-after-heading{
    Padding-top: 10px;
    text-align: center;
    margin: auto;
    position: relative;
    margin: 0 auto;
    max-width: 200px;
    position: relative
}
.logo-after-heading img{
    width: 40px;
    height: 40px;

}
.logo-after-heading::before{
    content: "";
    height: 2px;
    position: absolute;
    left:1rem;
    top: 40px;
    width: 50px;
    background: #427900;
}
.logo-after-heading::after{
    content: "";
    height: 2px;
    position: absolute;
    right:1rem;
    top: 40px;
    width: 50px;
    background: #427900;
}
/* logo css */
/* blue and green color */
.bg-clr{
    font-family: 'Merriweather', serif;
    font-weight: bolder;
    color: white;
    background-color: rgba(36, 79, 242, 0.9) !important;
}
.lgreen{
    font-weight: bold;
    color: rgb(0, 255, 0);
}
/* blue and green color */
.counter{
    font-family: 'Merriweather' serif;
}
.paragraph{
    font-size: 20px;
}
.border-box{
    border: 1 px solid black;
    text-align: center;
    padding: 25px;
}
/* introduction sention end */
/* section what are we doing */
.wtd{
    padding-top: 100px;
    font-family: 'Merriweather', serif;
    font-weight: 600;
    color: blue;
}
.wtd h4{
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 30px;
}
/* what are we doing end */
/* mission section  */
.mission{
    font-family: 'Merriweather', serif;
}
.mission h3{
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
    color: #316DC3;
    padding-top: 20px;
    position: relative;
    padding-bottom: 10px;
}
.mission h3::after{
    margin-top: 10px;
    bottom: -1px;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    width: 50px;
    background: #427900;
}
.mission-box{
    box-sizing: border-box;
    background-color: #f7f8fa;
    border-radius: 5px;
    height: 70px;
    width: 100%;
    margin:  10px auto;
    box-shadow: 2px 2px 15px 5px #f7f8fa;

}
.mission-box img{
    width: 40px;
    height: 40px;
    margin: 15px 30px;
    float: left;
}
.mission-box h5{
    padding: 25px 30px;
    font-size: 130%;
    font-weight: 600;
    text-transform: uppercase   ;
    color: #316DC3;
}
/* mission end */
/* image section */
.gallery-img  {
    margin: 50px;
    height: auto;
}
.gallery-img  .image{
   
    margin:20px 0;
    width: 20%;
    height: auto;
    float: left;
}
.gallery-img  .image{
transform: scale(1);

}
.gallery-img  .image img:hover{
transform: scale(1.1);

z-index: 1;
transition: transform .7s;

}
.gallery-img  .image img{
    transition: transform .7s;
    transform: scale(0.9);
 
width: 100%;
/* border: 1px solid black; */
padding: 10px 5px;
}
/* image section end */

/* footer */
.footer{
    background-color:#252424;
    color: blanchedalmond;
}
.footer .fbox1, .fbox2{
    margin: 100px 0;
}
.fbox2 .inner1{
    padding-bottom: 35px;
    float: left;
}
.fbox2 .inner2{
    float: right;
}
.inner1 h5, .inner2 h5{
    text-transform: capitalize;
}
.inner1 h5{
    border-bottom:1px solid gray;
    padding-bottom: 10px;
    position: relative;
}
.inner1 h5::before{    
    content: "";
    height: 2px;
    position: absolute;
    /* left:1rem; */
    top: 32px;
    width: 60px;
    background: #427900;
}
.footer-icon img{
    width: 55px;
    height: 55px;
}
.footer-icon img#yt{
    width: 75px;
    height: 75px;
}
.footer-icon img#ins{
    width: 65px;
    height: 65px;
}
.footer-icon img#tw{
    width: 60px;
    height: 60px;
}
.footer-icon img#fb{
    margin-right: 7px;
}
.fbox1 p img{
    width: 20px;
    height: 20px;
}
.fbox1 p .globe img{
    width: 25px;
    height: 20px;
    margin: 0px 5px 0px 60px;
}
.copyright{
    background-color: rgb(84, 84, 236);
    width: 100%;
    color: white;
    padding: 10px 110px;
    font-size: 90%;
}
/* footer end */


/* navbar css */



/* sticky navbar start */

#navbar {
    background-color: rgb(236, 230, 230);
  }
  
  .sticky {
    z-index: 1;

    position: fixed;
    top: 0;
    width: 100%;
  }

/* sticky navbar end */


/* navbar logo */

.navbar_logo img{
    width: 200px;
    height: 60px;
    margin: 0 0 0 25px;
}

/* navbar_menu */
.navbar_menu{
    height: 60px;;
    margin-left: 300px;
}
.navbar_menu ul {
    text-transform: capitalize;
    list-style: none;
    display: inline-flex; /* inline-flex*/
}
.navbar_menu ul li{
    margin: 10px 0px;
    padding:  5px 10px;
    border-radius: 100px;
}
.navbar_menu ul li a{
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.active_li {
    background-color: blue;
    font-weight: bold;
}
.active_li a{
    color: white !important;
}
.navbar_menu ul li:hover{
    background-color: blue;
}
.navbar_menu ul li:hover a{
    color: white ;
}
.first_hover_menu{
    display :none;
}
.navbar_menu ul li:hover .first_hover_menu{
    z-index: 1;
    display: block;
    position: absolute;
    top: 55px;
    min-width: 200px;
    background-color: white;
}
.navbar_menu ul li:hover .first_hover_menu ul{
    display: block;
}
.navbar_menu ul li:hover .first_hover_menu ul li a{
    color: black ;
}
.first_hover_menu ul li:hover {
    border-radius: 0 !important;
    background: blue ;
    color: white ;
    padding-left: 10px; 
}
.navbar_menu ul li:hover .first_hover_menu ul li:hover a{
    color: white ;
    margin-left: 10px;
}
.first_hover_menu .fa-angle-right{
    float: right;
    padding-right: 10px;
}

/* css for 2nd menu */
.second_hover_menu{
    display: none;   
}
.hover_me:hover .second_hover_menu{
    display: block;
    position: absolute;
    margin-left: 190px;
    min-width: max-content;
    background-color:  white;
}
.navbar_menu ul li:hover .hover_me:hover .second_hover_menu ul li a{
    color: black ;
}
.navbar_menu ul li:hover .hover_me:hover .second_hover_menu ul li:hover a{
    color: white;
    padding-left: 10px;
}
/* css for 3rd menu */
.second_hover_menu .fa-angle-right{
    float: right;
    padding-right: 10px;
    margin-left: 20px;
    margin-top: 5px;
}
.third_hover_menu{
    display: none;
}
.second_hover:hover .third_hover_menu{
    display: block;
    position: absolute;
    margin-left: 200px;
    min-width: max-content;
    background-color:  white;
}
.navbar_menu ul li:hover .hover_me:hover .second_hover_menu .second_hover:hover .third_hover_menu ul li a{
    color: black ;
}
.navbar_menu ul li:hover .hover_me:hover .second_hover_menu .second_hover:hover .third_hover_menu ul li:hover a{
    color: white;
    padding-left: 20px;
}
/* go to top btn */
#myBtn{
    transition-duration: .2s;
    /* transition: transform 1s; */
    transition-timing-function: ease-in-out;
    width: 50px ;
    height: 50px;
    border: none;
    border-radius: 10px;
    position: fixed;
    /* z-index: 99; */
    outline: none;
    display: block;
    bottom: 30px;
    right: 30px;
    background-color: rgba(10, 4, 4, 0.575);
}
#myBtn .fa-angle-double-up{
    font-size: 40px;
    color: white;
}
#myBtn:hover {
   
    box-shadow: 3px 3px 25px 1px white;
    background-color: rgba(0, 0, 0, 0.842);
}
#myBtn:hover .fa-angle-double-up {
    color: yellow;
}
