body{
    margin: 0px;
    padding: 0px;
}
.main{
    width: 100%;
    height: auto;
    border-bottom: 2px solid black;
    background: linear-gradient(to left, rgb(247, 210, 210), rgb(250, 195, 195),  rgb(196, 241, 241));
}
.main h1{
    font-size: 7vh;
    color: rgb(255, 11, 2);
    text-transform: uppercase;
    width: fit-content;
    margin: auto;
    text-align: center;
    padding: 4vh;
}
.form{
    border: 1px solid black;
    width: 70%;
    height: auto;
    margin: 100px auto;
    box-shadow: 0px 0px 6px 0px black;
    padding: 20px;

}
.formFiled{
    /* border: 1px solid black; */
    padding: 10px;
}
.formFiled input{
    font-size: 2.7vw;
    align-items: center;

    width: 99%;
    margin: 5px  0px;
    padding: 2px 2px 2px 5px;
    border: 1px solid silver;
}
.formFiled input:focus{
    outline: 1px solid rgb(0, 0, 0);
    border: none;
    padding: 2px 2px 2px 5px;
}
.submitBtn{
    /* border: 1px solid black; */
    text-align: center;

}
.submitBtn input{
    padding:5px 30px;
    /* color: aqu4a; */
    border-radius: 0px;
    border: none;
    background-color: rgb(52, 123, 230);
}