
.quizBody{
    background-image: url('bgcQuiz.jpg');
}
.quiz{
    min-width: 300px;
    max-width: 600px;
    margin: 100px auto;
    /* line-height: 50vh; */
}
.questionPane, .optionPane{
    /* filter: blur(0px) !important; */
    background-color: #fff;
    margin: 20px;
    border: 1px solid black;
    box-shadow: 0px 0px 20px 2px black;

}
.optionPane{
    margin-top: 30px;
}

.questionNo, .question{
    margin: 10px;
    padding: 10px ;
}
.questionNo{
    font-size: 1.9vh;
}
.question{
    border: 1px dotted black;
    font-size: 3vh;
}

.answer{
    display: inline;
}
table{
    padding: 20px 20px 0px 20px;
    border-spacing: 10px;
    /* border: 1px solid black; */
}
.submit{
    /* border: 1px solid black; */
    text-align: center;
    margin-bottom: 20px;
}
.submit input:focus{
    outline: none;
}
.submit input{
    border-radius: 25px;
    padding: 5px 50px;
    color: white;
    font-weight: bold;
    background: linear-gradient(to right, #e60000, #9e3838, #f139f1);

}
/* Result css */
.result{
    margin: 150px auto;
    min-width: 250px;
    max-width: 500px;
    padding: 30px;
    /* border: 1px solid black; */
}
.content{
    border: 1px solid black;
    text-align: center;
    font-size: 3vh;
    border-radius: 75px 0px;
    background-color: #fff;
    box-shadow: 0px 0px 10px black;
}
.content button{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 20px;
    background: salmon;
    border: none;
}
.content a button{
    color: black;
    text-decoration: none;
    font-size: 1.5vw;
}
.content button:focus{
    outline: none;
}